# Environment variables
.env
.env.*
!.env.example

# Terraform
*.tfvars
!*.tfvars.example
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# SSH keys
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
